@import url(https://fonts.googleapis.com/css?family=PT+Sans);/*---Button Reset---*/

.btn:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.25);
}

/*---Buttons Colors---*/

.color-and-background,
.btn-red.btn-fill:hover,
.btn-green.btn-fill:hover,
.btn-dirty-green.btn-fill:hover,
.btn-blue.btn-fill:hover,
.btn-black.btn-fill:hover,
.btn-purple.btn-fill:hover,
.btn-orange.btn-fill:hover,
.btn-aqua.btn-fill:hover,
.btn-primary.btn-fill:hover,
.btn-secondary.btn-fill:hover,
.btn-success.btn-fill:hover,
.btn-danger.btn-fill:hover,
.btn-info.btn-fill:hover,
.btn-dark.btn-fill:hover {
  color: #fff;
  background-color: transparent;
}

.btn-red {
  background-color: #d31433;
  color: #fff;
}

.btn-red:hover {
  background-color: #C02942;
}

.btn-red-flip {
  background-color: #d31433;
  color: #fff;
}

.btn-red-flip:hover {
  background-color: #fff;
  color: #d31433;
  border-color: #d31433;
}

.btn-yellow {
  background-color: #f9d154;
}

.btn-yellow:hover {
  background-color: #dcb743;
}

.btn-yellow-flip {
  background-color: #f9d154;
  color: #000;
}

.btn-yellow-flip:hover {
  background-color: #000;
  color: #f9d154;
  border-color: #f9d154;
}

.btn-green {
  background-color: #34c70f;
  color: #fff;
}

.btn-green:hover {
  background-color: #30b110;
}

.btn-green-flip {
  background-color: #34c70f;
  color: #fff;
}

.btn-green-flip:hover {
  background-color: #fff;
  color: #34c70f;
  border-color: #34c70f;
}

.btn-dirty-green {
  background-color: #147684;
  color: #fff;
}

.btn-dirty-green:hover {
  background-color: #0a95a9;
}

.btn-dirty-green-flip {
  background-color: #147684;
  color: #fff;
}

.btn-dirty-green-flip:hover {
  background-color: #fff;
  color: #147684;
  border-color: #147684;
}

.btn-blue {
  background-color: #1265A8;
  color: #fff;
}

.btn-blue:hover {
  background-color: #1975bf;
}

.btn-blue-flip {
  background-color: #1265A8;
  color: #fff;
}

.btn-blue-flip:hover {
  background-color: #fff;
  color: #1265A8;
  border-color: #1265A8;
}

.btn-black {
  background-color: #222;
  color: #fff;
}

.btn-black:hover {
  background-color: #111;
}

.btn-black-flip {
  background-color: #222;
  color: #fff;
}

.btn-black-flip:hover {
  background-color: #fff;
  color: #222;
  border-color: #222;
}

.btn-purple {
  background-color: #b53399;
  color: #fff;
}

.btn-purple:hover {
  background-color: #8c1573;
}

.btn-purple-flip {
  background-color: #b53399;
  color: #fff;
}

.btn-purple-flip:hover {
  background-color: #fff;
  color: #b53399;
  border-color: #b53399;
}

.btn-orange {
  background-color: #F57C02;
  color: #fff;
}

.btn-orange:hover {
  background-color: #d87a1c;
}

.btn-orange-flip {
  background-color: #F57C02;
  color: #fff;
}

.btn-orange-flip:hover {
  background-color: #fff;
  color: #F57C02;
  border-color: #F57C02;
}

.btn-aqua {
  background-color: #30b3be;
  color: #fff;
}

.btn-aqua:hover {
  background-color: #0a6b74;
}

.btn-aqua-flip {
  background-color: #30b3be;
  color: #fff;
}

.btn-aqua-flip:hover {
  background-color: #fff;
  color: #30b3be;
  border-color: #30b3be;
}

.btn-grey {
  background-color: #eee;
  border-color: #eee;
  color: #666;
}

.btn-grey:hover {
  background-color: #d0d0d0;
}

/*---Buttons sizes---*/

.btn.btn-mini {
  padding: 0 10px;
  font-size: 12px;
  height: 29px;
  line-height: 25px;
}

.btn.btn-xlg {
  padding: 0 34px;
  font-size: 18px;
  height: 52px;
  line-height: 52px;
}

/*---Buttons Helpers---*/

.btn.btn-3d {
  border-radius: 3px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: none;
  transition: none;
}

.btn-rounded {
  border-radius: 3px;
}

.btn-no-radius {
  border-radius: 0;
}

.btn-circle {
  border-radius: 25px;
}

.btn.btn-border-1 {
  border-width: 1px;
  font-weight: 600;
  text-shadow: none;
}

.btn.btn-border-2 {
  border-width: 2px;
  font-weight: 600;
  text-shadow: none;
}

.btn.btn-border-dashed-1 {
  border-width: 1px;
  border-style: dashed;
  font-weight: 600;
  text-shadow: none;
}

.btn.btn-border-dashed-2 {
  border-width: 2px;
  border-style: dashed;
  font-weight: 600;
  text-shadow: none;
}

.btn.btn-border-dotted-1 {
  border-width: 1px;
  border-style: dotted;
  font-weight: 600;
  text-shadow: none;
}

.btn.btn-border-dotted-2 {
  border-width: 2px;
  border-style: dotted;
  font-weight: 600;
  text-shadow: none;
}

.btn-icon-overlay {
  position: relative;
}

.btn-icon-overlay i {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -1px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.btn-xlg.btn-icon-overlay {
  padding-right: 55px;
}

.btn-xlg.btn-icon-overlay i {
  width: 37px;
  height: 51px;
  line-height: 52px;
}

.btn-lg.btn-icon-overlay {
  padding-right: 35px;
}

.btn-lg.btn-icon-overlay i {
  width: 28px;
  height: 46px;
  line-height: 45px;
}

.btn-sm.btn-icon-overlay {
  padding-right: 25px;
}

.btn-sm.btn-icon-overlay i {
  width: 20px;
  height: 30px;
  line-height: 30px;
}

.btn-mini.btn-icon-overlay {
  padding-right: 22px;
}

.btn-mini.btn-icon-overlay i {
  width: 18px;
  height: 28px;
  line-height: 25px;
}

.btn-icon-overlay:not([class~=btn-xlg]):not([class~=btn-sm]):not([class~=btn-lg]):not([class~=btn-mini]) {
  padding-right: 25px;
}

.btn-icon-overlay:not([class~=btn-xlg]):not([class~=btn-sm]):not([class~=btn-lg]):not([class~=btn-mini]) i {
  width: 20px;
  height: 36px;
  line-height: 36px;
}

/*---Fill Buttons---*/

.btn-fill {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.btn-fill:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.fill-top:before {
  -webkit-transform: translateY(-105%);
  transform: translateY(-105%);
}

.fill-top:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fill-bottom:before {
  -webkit-transform: translateY(105%);
  transform: translateY(105%);
}

.fill-bottom:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fill-left:before {
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

.fill-left:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fill-right:before {
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
}

.fill-right:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn-red.btn-fill {
  color: #d31433;
  border-color: #d31433;
}

.btn-red.btn-fill:hover:before {
  background-color: #d31433 !important;
}

.btn-yellow.btn-fill {
  color: #f9d154;
  border-color: #f9d154;
}

.btn-yellow.btn-fill:hover {
  color: #000;
  background-color: transparent;
}

.btn-yellow.btn-fill:hover:before {
  background-color: #f9d154 !important;
}

.btn-green.btn-fill {
  color: #34c70f;
  border-color: #34c70f;
}

.btn-green.btn-fill:hover:before {
  background-color: #34c70f !important;
}

.btn-dirty-green.btn-fill {
  color: #147684;
  border-color: #147684;
}

.btn-dirty-green.btn-fill:hover:before {
  background-color: #147684 !important;
}

.btn-blue.btn-fill {
  color: #1265A8;
  border-color: #1265A8;
}

.btn-blue.btn-fill:hover:before {
  background-color: #1265A8 !important;
}

.btn-black.btn-fill {
  color: #222;
  border-color: #222;
}

.btn-black.btn-fill:hover:before {
  background-color: #222 !important;
}

.btn-purple.btn-fill {
  color: #b53399;
  border-color: #b53399;
}

.btn-purple.btn-fill:hover:before {
  background-color: #b53399 !important;
}

.btn-orange.btn-fill {
  color: #F57C02;
  border-color: #F57C02;
}

.btn-orange.btn-fill:hover:before {
  background-color: #F57C02 !important;
}

.btn-aqua.btn-fill {
  color: #30b3be;
  border-color: #30b3be;
}

.btn-aqua.btn-fill:hover:before {
  background-color: #30b3be !important;
}

.btn-primary.btn-fill {
  color: #007bff;
  border-color: #007bff;
}

.btn-primary.btn-fill:hover:before {
  background-color: #007bff !important;
}

.btn-secondary.btn-fill {
  color: #868e96;
  border-color: #868e96;
}

.btn-secondary.btn-fill:hover:before {
  background-color: #868e96 !important;
}

.btn-success.btn-fill {
  color: #28a745;
  border-color: #28a745;
}

.btn-success.btn-fill:hover:before {
  background-color: #28a745 !important;
}

.btn-danger.btn-fill {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-danger.btn-fill:hover:before {
  background-color: #dc3545 !important;
}

.btn-warning.btn-fill {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-warning.btn-fill:hover {
  color: #000;
  background-color: transparent;
}

.btn-warning.btn-fill:hover:before {
  background-color: #ffc107 !important;
}

.btn-info.btn-fill {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info.btn-fill:hover:before {
  background-color: #17a2b8 !important;
}

.btn-light.btn-fill {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light.btn-fill:hover {
  color: #000;
  background-color: transparent;
}

.btn-light.btn-fill:hover:before {
  background-color: #f8f9fa !important;
}

.btn-dark.btn-fill {
  color: #1d2124;
  border-color: #1d2124;
}

.btn-dark.btn-fill:hover:before {
  background-color: #1d2124 !important;
}

/*---Social Buttons---*/

.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  color: #fff;
}

.btn-facebook:hover {
  background-color: #204592;
}

.btn-twitter {
  background-color: #00aced;
  border-color: #00aced;
  color: #fff;
}

.btn-twitter:hover {
  background-color: #039dd7;
}

.btn-pinterest {
  background-color: #cb2027;
  border-color: #cb2027;
  color: #fff;
}

.btn-pinterest:hover {
  background-color: #b9171e;
}

.btn-dribble {
  background-color: #ea4c89;
  border-color: #ea4c89;
  color: #fff;
}

.btn-dribble:hover {
  background-color: #d1316f;
}

.btn-youtube {
  background-color: #c51e24;
  border-color: #c51e24;
  color: #fff;
}

.btn-youtube:hover {
  background-color: #a7191e;
}

.btn-linkedin {
  background-color: #0084bf;
  border-color: #0084bf;
  color: #fff;
}

.btn-linkedin:hover {
  background-color: #0475a8;
}

.btn-google-plus {
  background-color: #dd4b39;
  border-color: #dd4b39;
  color: #fff;
}

.btn-google-plus:hover {
  background-color: #c13e2e;
}

.btn-levels {
  border-radius: 0;
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.7rem;
}

.badge-purple {
  background-color: #b53399;
  color: #fff;
  text-decoration: none;
}

/* Profile container */

/* Profile sidebar */

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */

.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/* Header Parallax Element Style*/

.paral {
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  /* Paragraph for Parallax Section */
  /* Heading for Parallax Section */
}

.paral p {
  font-size: 24px;
  color: #f5f5f5;
  text-align: center;
  line-height: 60px;
}

.paral h1 {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.9);
  font-size: 60px;
  text-align: center;
  padding-top: 60px;
  line-height: 100px;
}

.paral hr {
  border-color: white;
}

/* Sticky footer styles  */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 0px;
  margin-top: 0px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'PT Sans', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.login {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/* Credit to bootsnipp.com for the css for the color graph */

.colorgraph {
  width: 80%;
  margin: 2rem 0;
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#c4e17f), color-stop(12.5%, #c4e17f), color-stop(12.5%, #f7fdca), color-stop(25%, #f7fdca), color-stop(25%, #fecf71), color-stop(37.5%, #fecf71), color-stop(37.5%, #f0776c), color-stop(50%, #f0776c), color-stop(50%, #db9dbe), color-stop(62.5%, #db9dbe), color-stop(62.5%, #c49cde), color-stop(75%, #c49cde), color-stop(75%, #669ae1), color-stop(87.5%, #669ae1), color-stop(87.5%, #62c2e4), to(#62c2e4));
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.filter {
  margin-left: .6rem;
}

.file-list .col-12 {
  margin-bottom: 1rem;
}

.file-list .col-12 .card .card-body .btn {
  float: right;
  border-radius: 0;
  margin-right: .6rem;
}

.file-list .col-12 .card .card-body .badge {
  text-decoration: none;
}

.form-control,
.btn {
  border-radius: 0;
}

.hideOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

.rating {
  padding: 1rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vote {
  border: none;
  background-color: transparent;
  width: 47px;
  height: 21.5px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.vote:active {
  outline: none;
  border: none;
}

.vote:focus {
  outline: 0;
}

#scoreCounter {
  margin-bottom: 0rem;
}

.upArrow {
  height: 10px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 11.5 6.4;
}

.upArrow path {
  fill: #BBBBBB;
  fill-rule: evenodd;
  clip-rule: evenodd;
  margin: 0;
}

.downArrow {
  height: 10px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 11.5 6.4;
}

.downArrow path {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #BBBBBB;
}

#upButton :hover {
  fill: #6CC576;
  cursor: pointer;
}

#downButton :hover {
  fill: #FF586C;
  cursor: pointer;
}

.levelbar {
  width: 80%;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
}

