/* @extend display-flex; */

display-flex,
.display-flex,
.display-flex-center,
.signup-content,
.signin-content,
.social-login,
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */

list-type-ulli,
.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* poppins-300 - latin */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/poppins-v5-latin-300.eot?2e0847ba0b1e237882854e8dab9da109);
  /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"), url(/fonts/poppins-v5-latin-300.eot?2e0847ba0b1e237882854e8dab9da109) format("embedded-opentype"), url(/fonts/poppins-v5-latin-300.woff2?f6ef809fb833dbf1abcd5b35ab1576e5) format("woff2"), url(/fonts/poppins-v5-latin-300.woff?dad8b32d6402d45efbd9f2a8ee6f203a) format("woff"), url(/fonts/poppins-v5-latin-300.ttf?65bbf50d80ffbd75536abea87a4962db) format("truetype"), url(/fonts/poppins-v5-latin-300.svg?70e4020c8c2da472b5ce6ad4c68873d5) format("svg");
  /* Legacy iOS */
}

/* poppins-300italic - latin */

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/poppins-v5-latin-300italic.eot?81f9f9329c89f478b8f3cf8bc58f4c5c);
  /* IE9 Compat Modes */
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url(/fonts/poppins-v5-latin-300italic.eot?81f9f9329c89f478b8f3cf8bc58f4c5c) format("embedded-opentype"), url(/fonts/poppins-v5-latin-300italic.woff2?5e4a0e72a17dffda2e8c2af3af358110) format("woff2"), url(/fonts/poppins-v5-latin-300italic.woff?ffcf1f1c66a6661dabcf9a52581186d5) format("woff"), url(/fonts/poppins-v5-latin-300italic.ttf?00b670ebdb4b1c61f8810fae255cb963) format("truetype"), url(/fonts/poppins-v5-latin-300italic.svg?be5740135961833d443d22498c11df0a) format("svg");
  /* Legacy iOS */
}

/* poppins-regular - latin */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/poppins-v5-latin-regular.eot?f00ab8be77768ee0afe76d8fa105e7ee);
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url(/fonts/poppins-v5-latin-regular.eot?f00ab8be77768ee0afe76d8fa105e7ee) format("embedded-opentype"), url(/fonts/poppins-v5-latin-regular.woff2?ce0c9ae08840a0b43bccb9f5a86e155d) format("woff2"), url(/fonts/poppins-v5-latin-regular.woff?1fce830e6112511a77108832e13172fd) format("woff"), url(/fonts/poppins-v5-latin-regular.ttf?4711bbc2872e5e734fe5d84804f24967) format("truetype"), url(/fonts/poppins-v5-latin-regular.svg?74955fcba4d3cb051de366faff68660b) format("svg");
  /* Legacy iOS */
}

/* poppins-italic - latin */

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/poppins-v5-latin-italic.eot?9741803691bc57d55082d53237380709);
  /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"), url(/fonts/poppins-v5-latin-italic.eot?9741803691bc57d55082d53237380709) format("embedded-opentype"), url(/fonts/poppins-v5-latin-italic.woff2?936aaefc2efb764f3f52c0e9f34ef749) format("woff2"), url(/fonts/poppins-v5-latin-italic.woff?055f0699f59e8b1eb28270b304c5d11b) format("woff"), url(/fonts/poppins-v5-latin-italic.ttf?506db506cbae0183e1b2c50d069d3769) format("truetype"), url(/fonts/poppins-v5-latin-italic.svg?40f3c34fe1de3154a60c3af7d1d251e6) format("svg");
  /* Legacy iOS */
}

/* poppins-500 - latin */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/poppins-v5-latin-500.eot?12a5a771441907d9570020c1717158c3);
  /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"), url(/fonts/poppins-v5-latin-500.eot?12a5a771441907d9570020c1717158c3) format("embedded-opentype"), url(/fonts/poppins-v5-latin-500.woff2?08609a017d830988630ee1b38a7ef71a) format("woff2"), url(/fonts/poppins-v5-latin-500.woff?0261e08bd22d9f91c1d277cd4874ec95) format("woff"), url(/fonts/poppins-v5-latin-500.ttf?22b7688b2941298f2afd730763ef61d9) format("truetype"), url(/fonts/poppins-v5-latin-500.svg?70e9051c6ebce0ffe149de16230903bf) format("svg");
  /* Legacy iOS */
}

/* poppins-500italic - latin */

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url(/fonts/poppins-v5-latin-500italic.eot?7aca43b708f8dde583fbaa9bbbf8e1f5);
  /* IE9 Compat Modes */
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url(/fonts/poppins-v5-latin-500italic.eot?7aca43b708f8dde583fbaa9bbbf8e1f5) format("embedded-opentype"), url(/fonts/poppins-v5-latin-500italic.woff2?a43a4a36fcfe4d073146b54490eec662) format("woff2"), url(/fonts/poppins-v5-latin-500italic.woff?fabb1cda13707046efa0f7238555cc01) format("woff"), url(/fonts/poppins-v5-latin-500italic.ttf?9972bab7961b40e7da377f55c418e215) format("truetype"), url(/fonts/poppins-v5-latin-500italic.svg?42b57730bd80b5048aaf027ea9009b51) format("svg");
  /* Legacy iOS */
}

/* poppins-600 - latin */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/poppins-v5-latin-600.eot?693057428838523377f5c2da26f44899);
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(/fonts/poppins-v5-latin-600.eot?693057428838523377f5c2da26f44899) format("embedded-opentype"), url(/fonts/poppins-v5-latin-600.woff2?d01ac68c4747e41a359cd94cecc29f9f) format("woff2"), url(/fonts/poppins-v5-latin-600.woff?02faed9f2938bbba57514dfbea590d56) format("woff"), url(/fonts/poppins-v5-latin-600.ttf?b01250b38f0ef1dc59107894d37711ec) format("truetype"), url(/fonts/poppins-v5-latin-600.svg?437844ee60c122bea4bea58e74389280) format("svg");
  /* Legacy iOS */
}

/* poppins-700 - latin */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/poppins-v5-latin-700.eot?319537c2e34754b8482dc10b5a5a678f);
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url(/fonts/poppins-v5-latin-700.eot?319537c2e34754b8482dc10b5a5a678f) format("embedded-opentype"), url(/fonts/poppins-v5-latin-700.woff2?d9f0e4b31953d6440559059230442358) format("woff2"), url(/fonts/poppins-v5-latin-700.woff?d1d7b85dc76bad1a967fc842d110262c) format("woff"), url(/fonts/poppins-v5-latin-700.ttf?44bb1bc773b816dfb13a88f43d0d0476) format("truetype"), url(/fonts/poppins-v5-latin-700.svg?82b5580c33900775f45b395686110d38) format("svg");
  /* Legacy iOS */
}

/* poppins-700italic - latin */

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/poppins-v5-latin-700italic.eot?ef75019674fb2adad506e031bd14331e);
  /* IE9 Compat Modes */
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(/fonts/poppins-v5-latin-700italic.eot?ef75019674fb2adad506e031bd14331e) format("embedded-opentype"), url(/fonts/poppins-v5-latin-700italic.woff2?da80a603d0220f8e5bb3aaf0e5b42763) format("woff2"), url(/fonts/poppins-v5-latin-700italic.woff?d03f7611353f6f9e728b329d982b7660) format("woff"), url(/fonts/poppins-v5-latin-700italic.ttf?0470693a3857401dad7c0ca10db65617) format("truetype"), url(/fonts/poppins-v5-latin-700italic.svg?6a428f7f4ebfe39102f6c30421b9ace0) format("svg");
  /* Legacy iOS */
}

/* poppins-800 - latin */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/poppins-v5-latin-800.eot?2f8f4d43aac53d1b881fcd50b08ac5e8);
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url(/fonts/poppins-v5-latin-800.eot?2f8f4d43aac53d1b881fcd50b08ac5e8) format("embedded-opentype"), url(/fonts/poppins-v5-latin-800.woff2?6f22cd6faf712f6973ee0f38cd38c0e6) format("woff2"), url(/fonts/poppins-v5-latin-800.woff?99a9e7bac31ddfc2b58e0025f76c65d1) format("woff"), url(/fonts/poppins-v5-latin-800.ttf?97ae8f0f4c3d743a27496689665416bc) format("truetype"), url(/fonts/poppins-v5-latin-800.svg?1430c339df4a2dd02998eac6dc591098) format("svg");
  /* Legacy iOS */
}

/* poppins-800italic - latin */

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url(/fonts/poppins-v5-latin-800italic.eot?cc33beefca3fdaae55ac852f32278166);
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url(/fonts/poppins-v5-latin-800italic.eot?cc33beefca3fdaae55ac852f32278166) format("embedded-opentype"), url(/fonts/poppins-v5-latin-800italic.woff2?acbf8d91de92514c5111f02cb26854a9) format("woff2"), url(/fonts/poppins-v5-latin-800italic.woff?5c8a310a6164fe0dfec074a89d94f181) format("woff"), url(/fonts/poppins-v5-latin-800italic.ttf?e85ba4fc01dc62bf49b51b337b710ca8) format("truetype"), url(/fonts/poppins-v5-latin-800italic.svg?2908d7aad95f5fe15d373056e80efc9a) format("svg");
  /* Legacy iOS */
}

/* poppins-900 - latin */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/poppins-v5-latin-900.eot?480a646050fb8b991ebff5543ee756b0);
  /* IE9 Compat Modes */
  src: local("Poppins Black"), local("Poppins-Black"), url(/fonts/poppins-v5-latin-900.eot?480a646050fb8b991ebff5543ee756b0) format("embedded-opentype"), url(/fonts/poppins-v5-latin-900.woff2?f53d38d7a9ce9fb32f278410609cd7d4) format("woff2"), url(/fonts/poppins-v5-latin-900.woff?1b8eddbe62c11ea9eb4f407ecd897827) format("woff"), url(/fonts/poppins-v5-latin-900.ttf?11c0d35b23006eefd198bb52e3e617f9) format("truetype"), url(/fonts/poppins-v5-latin-900.svg?1a6c24bd1739f450184ffb0da3c1d2a3) format("svg");
  /* Legacy iOS */
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
}

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 36px;
}

main {
  background: #f8f8f8;
  padding: 1rem 0;
}

.clear {
  clear: both;
}

body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Poppins;
}

.container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.display-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.display-flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.signup {
  margin-bottom: 1rem;
}

.signup-content {
  padding: 2rem 0;
}

.signup-form,
.signup-image,
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
}

.signup-image {
  margin: 0 55px;
}

.form-title {
  margin-bottom: 33px;
}

.signup-image {
  margin-top: 45px;
}

figure {
  margin-bottom: 50px;
  text-align: center;
}

.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}

.form-submit:hover {
  background: #4292dc;
}

#signin {
  margin-top: 16px;
}

.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center;
}

.term-service {
  font-size: 13px;
  color: #222;
}

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}

.register-form {
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.form-group:last-child {
  margin-bottom: 0px;
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-webkit-input-placeholder {
  color: #999;
}

input::-moz-placeholder {
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

input:-moz-placeholder {
  color: #999;
}

input:focus {
  border-bottom: 1px solid #222;
}

input:focus::-webkit-input-placeholder {
  color: #222;
}

input:focus::-moz-placeholder {
  color: #222;
}

input:focus:-ms-input-placeholder {
  color: #222;
}

input:focus:-moz-placeholder {
  color: #222;
}

input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none;
}

input[type=checkbox]:not(old) + label {
  display: inline-block;
  line-height: 1.5em;
  margin-top: 6px;
}

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
  vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
}

input[type=checkbox]:not(old):checked + label > span:before {
  content: '\F26B';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold;
}

.agree-term {
  display: inline-block;
  width: auto;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222;
}

.label-has-error {
  top: 22%;
}

label.error {
  position: relative;
  background: no-repeat;
  background-position-y: 3px;
  padding-left: 20px;
  display: block;
  margin-top: 20px;
}

label.valid {
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  margin-top: -6px;
  width: 20px;
  height: 20px;
  background: transparent;
}

label.valid:after {
  font-family: 'Material-Design-Iconic-Font';
  content: '\F269';
  width: 100%;
  height: 100%;
  position: absolute;
  /* right: 0; */
  font-size: 16px;
  color: green;
}

.label-agree-term {
  position: relative;
  top: 0%;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
}

.material-icons-name {
  font-size: 18px;
}

.signin-content {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.social-login {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  margin-top: 80px;
}

.social-label {
  display: inline-block;
  margin-right: 15px;
}

.socials li {
  padding: 5px;
}

.socials li:last-child {
  margin-right: 0px;
}

.socials li a {
  text-decoration: none;
}

.socials li a i {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.socials li:hover a i {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}

.zmdi-facebook {
  background: #3b5998;
}

.zmdi-twitter {
  background: #1da0f2;
}

.zmdi-google {
  background: #e72734;
}

.signin-form {
  margin-right: 90px;
  margin-left: 80px;
}

.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc( 100% - 30px);
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .signup-content,
  .signin-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px;
  }

  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2;
  }

  .signup-form,
  .signup-image,
  .signin-form,
  .signin-image {
    width: auto;
  }

  .social-login {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }

  .form-button {
    text-align: center;
  }

  .signin-form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px;
  }

  .form-title {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .social-login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
  }

  .social-label {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

